<h2 class="title" nz-typography>SURVEYS</h2>
<div nz-row>
  <div class="list" nz-col nzSpan="6">
    <div class="list_header" nz-row>
      <h3>Survey List</h3>
      <button nz-button nzShape="circle">
        <i nz-icon nzType="plus"></i>
      </button>
    </div>
    <div nz-row>
      <nz-input-group class="list_search" [nzPrefix]="prefixIconSearch">
        <input type="text" nz-input placeholder="Recherche" />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <div class="forms_template" nz-col nzSpan="6">
    <h3>Directional Icons</h3>
    <ul class="anticons-list">
      <li>
        <i nz-icon nzType="form" nzTheme="outline"></i>
        <span class="anticon-class"> step-backward </span>
      </li>
      <li>
        <i nz-icon nzType="form" nzTheme="outline"></i>
        <span class="anticon-class"> step-backward </span>
      </li>
      <li>
        <i nz-icon nzType="form" nzTheme="outline"></i>
        <span class="anticon-class"> step-backward </span>
      </li>
      <li>
        <i nz-icon nzType="form" nzTheme="outline"></i>
        <span class="anticon-class"> step-backward </span>
      </li>
      <li>
        <i nz-icon nzType="form" nzTheme="outline"></i>
        <span class="anticon-class"> step-backward </span>
      </li>
      <li>
        <i nz-icon nzType="form" nzTheme="outline"></i>
        <span class="anticon-class"> step-backward </span>
      </li>
      <li>
        <i nz-icon nzType="form" nzTheme="outline"></i>
        <span class="anticon-class"> step-backward </span>
      </li>
    </ul>
  </div>
  <div class="form_choose" nz-col nzSpan="8"></div>
</div>
