<h2 class="title" nz-typography>SURVEYS</h2>

<div class="row">
  <div class="col-lg-3">
    <div class="list">
      <div class="list_header" nz-row>
        <h3>Survey List</h3>
        <button nz-button nzShape="circle">
          <i nz-icon nzType="plus"></i>
        </button>
      </div>
      <div nz-row>
        <nz-input-group class="list_search" [nzPrefix]="prefixIconSearch">
          <input type="text" nz-input placeholder="Recherche" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <section nz-row>
        <div class="item">
          <div class="picture">
            <img src="assets/icons/doc1.png" />
          </div>
          <div class="item_detail">
            <h3>
              <a href=""> ISO 2000</a>
            </h3>
            <span>Last update. 13 Dec 2019</span>
          </div>
        </div>

        <div class="item">
          <div class="picture">
            <img src="assets/icons/doc2.png" />
          </div>
          <div class="item_detail">
            <h3>
              <a href=""> ACMA FORMS</a>
            </h3>
            <span>Last update. 27 Jul 2019</span>
          </div>
        </div>

        <div class="item">
          <div class="picture">
            <img src="assets/icons/doc2.png" />
          </div>
          <div class="item_detail">
            <h3>
              <a href=""> BIO CERTIFICATE</a>
            </h3>
            <span>Last update. 13 Dec 2019</span>
          </div>
        </div>

        <div class="item">
          <div class="picture">
            <img src="assets/icons/doc2.png" />
          </div>
          <div class="item_detail">
            <h3>
              <a href=""> DANONE CERTIFICATE</a>
            </h3>
            <span>Last update. 13 Dec 2019</span>
          </div>
        </div>

        <div class="item">
          <div class="picture">
            <img src="assets/icons/doc1.png" />
          </div>
          <div class="item_detail">
            <h3>
              <a href=""> ISO 3050</a>
            </h3>
            <span>Last update. 13 Dec 2019</span>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="forms_template">
      <h3>Forms templates</h3>
      <div class="option_list" nz-row [nzGutter]="[16, 24]">
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="form" nzTheme="outline"></i>
          <span class="anticon-class"> New Form </span>
        </div>
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="idcard" nzTheme="outline"></i>
          <span class="anticon-class"> ID </span>
        </div>
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="environment" nzTheme="outline"></i>
          <span class="anticon-class"> Address </span>
        </div>
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="contacts" nzTheme="outline"></i>
          <span class="anticon-class"> Contact </span>
        </div>
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="build" nzTheme="outline"></i>
          <span class="anticon-class"> Skills </span>
        </div>
      </div>
      <h3>Elements</h3>
      <div class="option_list" nz-row [nzGutter]="[16, 24]">
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="form" nzTheme="outline"></i>
          <span class="anticon-class"> New Form </span>
        </div>
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="idcard" nzTheme="outline"></i>
          <span class="anticon-class"> ID </span>
        </div>
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="environment" nzTheme="outline"></i>
          <span class="anticon-class"> Address </span>
        </div>
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="contacts" nzTheme="outline"></i>
          <span class="anticon-class"> Contact </span>
        </div>
        <div id="option_item" nz-col class="gutter-row" [nzSpan]="6">
          <i nz-icon nzType="build" nzTheme="outline"></i>
          <span class="anticon-class"> Skills </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form_choose">
      <div class="form_header" nz-row>
        <h3>Create your survey</h3>
        <nz-button-group>
          <button class="cancel" style="border: none" nz-button>Cancel</button>
          <button class="save" nz-button>
            <i nz-icon nzType="save" nzTheme="outline"></i>
            Save
          </button>
        </nz-button-group>
      </div>
      <div nz-row class="form_view">
        <div class="row">
          <div class="col-8">
            <input nz-input value="Section 1 Title" />
            <hr />
            <textarea
              nz-input
              [nzAutosize]="{ minRows: 15, maxRows: 20 }"
            ></textarea>
          </div>
          <div class="col-2">col-2</div>
        </div>
      </div>
    </div>
  </div>
</div>
